GENLAYER_RPC_URL=
GENLAYER_CONSENSUS_URL=
GENLAYER_PRIVATE_KEY=0x
TRIBUNAL_ADDRESS=

BASE_SEPOLIA_RPC_URL=
ESCROW_DEPLOYER_KEY=0x
ESCROW_ADDRESS=

WORKER_PRIVATE_KEY=0x
WORKER_ADDRESS=

CLAIMANT_KEY=0x
CLAIMANT_ADDRESS=

RESPONDENT_KEY=0x
RESPONDENT_ADDRESS=

TRIBUNAL_RELAYER=
WALLET_ADDRESS=

PINATA_JWT=
IPFS_TOKEN=
